#contenedor1{
  pantalla: flexible;
  color de fondo: #000;  
  altura: 300px;
  color:blanco;
  tamaño de fuente: 2rem;
}

#elemento1 {  
  pedido: 2;
  color de fondo: #0078A6;
}
#elemento2 {
  orden: 1;
  color de fondo: #0084B6;
}
#elemento3 {
  orden: 0;
  color de fondo: #008CC1;
}