#contenedor1{
  pantalla: flexible;
  color de fondo: #000;  
  altura: 300px;
  color:blanco;
  tamaño de fuente: 2rem;
}

#elemento1 {  
  flex: 1 1 20%;
  color de fondo: #0078A6;
}
#elemento2 {
  flex: 0 0 60%;  
  color de fondo: #0084B6;
}
#elemento3 {
  flex: 0 1 20%;  
  color de fondo: #008CC1;
}